body {
    margin: 2%;
    background-color: grey;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* Header */
header {
    border: 5px dotted;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 5px 5px;
}

header h1 {
    margin: 10px 10px;
    padding: 20px;
    text-align: center;
}

/* Navigation */
div a:hover {
    color: white;
}

nav {
    margin: 15px ;
}

nav h3 {
    text-align: center;
    margin: 0;
}

.navigation {
    text-align: center;
    text-decoration: none;
}

.navigation a {
    color: goldenrod;
}

/* Main */
.favorites{
    border: 5px solid;
    border-radius: 10px;
    width: 375px;
}

.favorites h2 {
    margin: 20px;
}

.favorites ul {
    list-style: square;
}

.aboutMe main {
    width: 300px;
    border: 5px solid;
}

.aboutMe img{
    
}
/* Footer */
footer h3 {
    margin: 25px;
    text-align: center;
}

footer p {
    padding: 5px;
    text-align: center;
}

.contacts {
    padding-bottom: 50px;
    text-align: center;
}

/* ID Selector */
/* #green-background {
    background-color:green;
} */