body {
    margin: 25px;
    background-color: silver;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* Header */
header {
    border: 5px dotted;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding: 5px 5px;
}

header h1 {
    margin: 10px 10px;
    padding: 20px;
    text-align: center;
}

/* Navigation */

/* Focussing on the 'ul' element (Unordered List)
   Haalt de dots weg van de list, resetting de margin/padding, */
nav ul {
    list-style-type: none;           /* Removes the bullet points on the list */
    padding: 0;                      /* Resets the value to 0 */
    margin: 0;                      /* Resets the value to 0 */
    overflow: hidden;               /* The overflow stays clipped, if it does overlap, stays hidden. */
    background-color: gray;
}

/* Focussing on the 'li' element (List Items) */
nav li {
    float: left;                    /* Allows block-level elements to position next to each other. */
    /* background-color: grey;*/    /* Sets background color (all the way as the width specify */
}

/* Focussing on the 'a' element (Hyperlinks) */
nav a {
    display: block;                 /*  */
    padding: 10px 15px;             /* Creates spacing in between the Hyperlinks */
    text-decoration: none;          /* Removes the underline */
    color: white;
}

nav a:hover:not(.activePage) {
    /* color: goldenrod;            /* Color within text appears, when hover over */
    background-color: goldenrod;  /* Color within background appears, when hover over */
}

nav h3 {
    text-align: center;
}


.activePage {
    background-color: tan;
}

/* Main */
.favorites{
    border: 5px solid;
    border-radius: 10px;
    width: 375px;
    margin: 25px 0;
}

.favorites h2 {
    margin: 20px;
}

.favorites ul {
    list-style: square;
}

.aboutMe main {
    /* width: 300px; */
    margin: 15px 0;
    padding: 15px;
    /* border: 5px solid; */
    /* border-radius: 10px; */
}

.aboutMe h3 {
    padding-bottom: 30px;
    text-align: center;
}

.aboutMe img{

}
/* Footer */
footer h3 {
    margin: 25px;
    text-align: center;
}

footer p {
    padding: 5px;
    text-align: center;
}

.contacts {
    padding-bottom: 50px;
    text-align: center;
}

/* ID Selector */
/* #green-background {
    background-color:green;
} */